@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


form{
  font-family: 'Poppins', sans-serif;
}

.postCard{
  display: block;
}

.titleDiv{
  display: flex;
  padding-bottom: 5px;
}

.title{
  display: block;
}

.titleInput{
  display: block;
  border: 2px #5635b2 solid;
  border-radius: 8px;
}

.body{
  display: block;
  width: 60%;
  height: 300px;
  border: 2px #5635b2 solid;
  border-radius: 8px;
  padding-bottom: 5px;
  background-color: rgba(128, 128, 128, 0.6);
  box-shadow: 0 4px 8px 0 rgba(63, 47, 94, 0.85);
}

.userPic{
  border-radius: 50%;
  background-color: #5635b2;
  object-fit: cover;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
}

ul {
  font-family: Poppins;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
