<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form (ngSubmit)="login()">
  <div [formGroup]="loginForm">

    <h3>Log in</h3>

    <label for="email">E-mail: </label>
    <input required="true" id="email" type="email" formControlName="email" placeholder="Email Name">

    <label for="password">Password: </label>
    <input required="true" id="password" type="password" formControlName="password" placeholder="Password">

    <button type="submit"   [disabled]="!loginForm.valid">Log in</button>
    <a routerLink="/signUp">Register now</a>

  </div>

</form>



