
.search{
  margin-left: 4px;
  position: fixed;
  top: 60px;
}

input{
  width: 100%;
  padding-left: 5px;
  border: none;
  height: 30px;
  margin-right: 5px;
  background-color: rgb(25, 26, 29);
  caret-color: rgb(136, 133, 133);
  color: white;
  border-radius: 8px;
  outline: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.51);
}
